.navigation {
  position: absolute;
  left: size(40px);
  right: size(40px);
  bottom: size(-12px);
  border: size(20px);
  background-color: $color-white-light;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navigation__item {
  margin-right: size(20px);

  &:last-child {
    margin: 0;
  }
}

.navigation__link {}

.navigation__social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.navigation__social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: size(6px);

  &:first-child {
    margin: 0;
  }
}
